# Python ignores

# Virtual environments
venv/
.venv/

# Bytecode files
__pycache__/
*.py[cod]
*.pyc

# resultados
# resultados/
realtime_tests/resultados/realtime_debug_audio/

# IDE files
.idea/
*.sublime-workspace
*.sublime-project
.env

nomeando_commits.md